@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Paleta de Cores*/
:root{
    /*Cores principais*/
    --primary-color: #8C9EAB;
    --secundary-color: #323232;

    /*Cores - Gradient*/
    --first-color: #2F3243;
    --second-color: #21232F;

    /*Cor de background - Footer*/
    --background: #EFEAE7;
}

body{
    font-family: "Montserrat", "sans-serif";
}

a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 800;
}
a:hover{
    color: var(--secundary-color);
}

/*Header*/
#header{
    background-color: #fff;
    transition: all 0.05s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 25px rgaba(0, 0, 0, 0.1);
    text-transform: uppercase;
}
#header .logo{
    margin: 0;
    padding: 0;
}

#header .logo img{
    max-height: 40px;
}

/*Navbar*/

.navbar{
    padding: 0;
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li{
    position: relative;
}

.navbar a,
.navbar a:focus{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 13px;
    white-space: nowrap;
    text-transform: uppercase;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i{
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a{
    color: var(--secundary-color);
}

.navbar .dropdown ul{
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-top: 2px solid var(--secundary-color);
}

.navbar .dropdown ul a li{
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a{
    color: var(--secundary-color);
}

.navbar .dropdown:hover>ul{
    opacity: 1;
    top: 100;
    visibility: visible;
}



/*Resposividade*/
@media(max-width: 1366px){
    .navbar .dropdown ul{
        left: -90%;
    }

    .navbar .dropdown:hover>ul{
        left: -100%;
    }
}

/*Navegação Mobile*/
.mobile-nav-toggle{
    color: #323232;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.mdi-close{
    color: #fff;
}

/*Resposividade - Mobile*/
@media(max-width: 991px){
    .mobile-nav-toggle{
        display: block;
    }

    .navbar ul{
        display: none;
    }
}

.navbar-mobile{
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle{
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul{
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus{
    padding: 10px 20px;
    font-size: 15px;
    color: var(--primary-color);
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a{
    color: var(--secundary-color);
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus{
    margin: 15px;
}

.navbar-mobile .dropdown ul{
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li{
    min-width: 200px;
 }

 .navbar-mobile .dropdown ul a{
    padding: 10px 20px;
 }

 .navbar-mobile .dropdown ul a i{
    font-size: 12px;
 }

 .navbar-mobile .dropdown ul a:hover,
 .navbar-mobile .dropdown ul .active:hover,
 .navbar-mobile .dropdown ul li:hover>a{
    color: var(--secundary-color);
 }
 
 .navbar-mobile .dropdown>.dropdown-active{
    display: block;
 }


 .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: var(--second-color);
  }

  .section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: var(--second-color);
  bottom: 0;
  left: calc(50% - 20px);
}
 /*-------------------------------------------------------------
 Hero Section - Carousel
 ---------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: relative;
}
  
#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
 
#hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}
  
#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
}
  
#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}
  
#hero .carousel-inner .carousel-item-next,
#hero .carousel-inner .carousel-item-prev,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}
  
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: #fff;
    border-radius: 50px;
    transition: 0.3s;
    color: var(--primary-color);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
    background: #fff;
    color:var(--primary-color);
}
  
#hero .carousel-indicators li {
    list-style-type: none;
    cursor: pointer;
    background: #fff;
    overflow: hidden;
    border: 0;
    width: 12px;
    height: 12px;
    border-radius: 50px;
    opacity: 0.6;
    transition: 0.3s;
}
  
#hero .carousel-indicators li.active {
    opacity: 1;
    background: var(--primary-color);
}
  
@media (min-width: 1024px) {
    #hero .carousel-content {
        width: 60%;
}
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
}
  
@media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
}

section{
    padding: 60px 0;
    overflow: hidden;
}

.section-bg{
    background-color: var(--primary-color);
}

.section-bg-gradient{
    background-color: #f5f6f7;
}

.section-title{
    text-align: center;
    padding-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}



 /*-------------------------------------------------------------
Section - Móveis
 ---------------------------------------------------------------*/
 .card{
    box-shadow:2px 2px 20px rgba(0,0,0,0.3); 
    border:none; 
    margin-bottom:30px;
}
.card:hover{
    transform: scale(1.05);
    transition: all 1s ease;
    z-index: 999;
    cursor: pointer;
}
  
  .card-01 .height-fix{
    height:455px; 
    overflow:hidden;
  }

  .card-img-overlay p{
    font-size: 12px;
  }
  
  .card-01 .height-fix .card-img-top{
    width: 198 
    !important
}

  .card-01.height-fix .card-img-overlay{
    text-transform: uppercase;
    top:unset; 
    color:#fff;
    background: -moz-linear-gradient(180deg, rgba(47,50,67,0) 0%, rgba(33,35,47,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(180deg, rgba(47,50,67,0) 0%, rgba(33,35,47,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(180deg, rgba(47,50,67,0) 0%, rgba(33,35,47,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a606f', endColorstr='#e8154159',GradientType=0 );
  }
  .card-01.height-fix .fa{color: #fff;font-size: 22px;margin-right: 18px;};


  /*-----------------------------------------------------------------------------------------------------------------------------------------------
  Section - Vídeo
  ------------------------------------------------------------------------------------------------------------------------------------------------*/
#services{
    position: relative;
    z-index: 1;
}
#player{
    margin-top: -90px;
}

.container-video{
    position: relative;
    z-index: 1;
}

.wrapper {
    position: absolute;
    width: 100%;
  }
  
  .gradient {
    background-image: linear-gradient(180deg, rgba(47,50,67,0) 0%, rgba(33,35,47,0.9) 100%);
    width: 1164px;
    height: 655px;
    object-fit: cover;
    position: relative;
    z-index: 2;
  }
  
  video {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 1164px;
    height: 655px;
    min-height: 655px;
    object-fit: cover;
  }

.card-phrase{
    position: relative;
    margin-top: -100px;
    z-index: 2;
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.6); 
    border:none; 
    margin-bottom:30px;
    width: 840px;
    height: 185px;
    float: right;
    background-color: var(--secundary-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.phrase{
    font-size: 20px;
    color: #fff;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
    Section - Depoimentos
------------------------------------------------------------------------------------------------------------------------------------------------*/
#card-photo .written-photo img{
   width: 900px;
   height: 600px;
}

.depositions .content h2{
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    color: #fff;
}

.depositions .content h3{
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
    color: #fff;
}

.depositions .content p{
    padding: 100px 0;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
}

.depositions .written{
    margin-top: -150px;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
}

.depositions .written strong{
    color: var(--secundary-color);
    font-size: 16px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
    Conheça a ZigWood
------------------------------------------------------------------------------------------------------------------------------------------------*/

.about .content p{
    padding: 100px 0;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
}

.about .written{
    margin-top: -150px;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
}

.about .written strong{
    color: var(--secundary-color);
    font-size: 16px;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
    Breadcrumbs
------------------------------------------------------------------------------------------------------------------------------------------------*/
.breadcrumbs {
    padding: 30px 0; 
    background: var(--primary-color);
    min-height: 40px;
    margin-top: 72px;
  }
  
  .breadcrumbs h2 {
    font-size: 26px;
    font-weight: 300;
    color: #fff;
  }
  
  .breadcrumbs ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
  }
  
  .breadcrumbs ul a {
    color: #fff;
  }

  

  .breadcrumbs li>a:hover{
    color: var(--secundary-color);
  }
  
  .breadcrumbs ul li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ul li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #fff;
    content: "|";
  }
  
  @media (max-width: 991px) {
    .breadcrumbs {
      margin-top: 58px;
    }
  
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ul{
      display: block;
    }
  
    .breadcrumbs ul li {
      display: inline-block;
    }
  }


/*-----------------------------------------------------------------------------------------------------------------------------------------------
    Contato
------------------------------------------------------------------------------------------------------------------------------------------------*/
#features{
    height: 960px;
    width: auto;
}

.features .nav-tabs {
    border: 0;
  }
  
  .features .nav-link {
    padding: 15px 0;
    transition: 0.3s;
    color: var(--secundary-color);
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
    border: 0;
    border-bottom: 4px solid #e2e4e6;
  }
  
  .features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }

  .features .nav-link h4>i{
    font-size: 18px; 
  }
  
  @media (max-width: 575px) {
    .features .nav-link h4 {
      font-size: 16px;
    }
  }
  
  .features .nav-link:hover {
    color: var(--primary-color);
  }
  
  .features .nav-link.active {
    color: var(--second-color);
    background-color: transparent;
    border-color: var(--second-color);
  }
  
  .features .tab-content {
    margin-top: 30px;
  }
  
  .features .tab-pane h3 {
    font-weight: 700;
    font-size: 32px;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .features .tab-pane h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 3px;
    background: var(--color-primary);
    left: 0;
    bottom: 0;
  }
  
  .features .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .features .tab-pane ul li {
    padding-top: 10px;
  }
  
  .features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: var(--color-primary);
  }
  
  .features .tab-pane p:last-child {
    margin-bottom: 0;
  }


  .contact .info {
    border-top: 3px solid var(--second-color);
    border-bottom: 3px solid var(--second-color);
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
  }
  
  .contact .info i {
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--second-color);
  }
  
  .contact .info p {
    padding: 0 0 10px 60px;
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--secundary-color);
  }
  
  .contact .info .email p {
    padding-top: 5px;
  }
  
  .contact .info .social-links {
    padding-left: 60px;
  }
  
  .contact .info .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #333;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
  }
  
  .contact .info .social-links a:hover {
    background: var(--second-color);
    color: #fff;
  }
  
  .contact .info .email:hover i,
  .contact .info .address:hover i,
  .contact .info .phone:hover i {
    background: var(--second-color);
    color: #fff;
  }
  
  .contact .php-email-form {
    width: 100%;
    border-top: 3px solid var(--second-color);
    border-bottom: 3px solid var(--second-color);
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  }
  
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact .php-email-form label {
    padding-bottom: 8px;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: var(--second-color);
  }
  
  .contact .php-email-form input {
    height: 44px;
  }
  
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }

  .contact .php-email-form input[type=checkbox]{
    width: 20px;
    height: 20px;
  }

  .contact .php-email-form .check-info{
    padding: 2px 3px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: var(--secundary-color);
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 3px;
  }

.form-control-custom{
  padding-right: 30px; 
  background: url('../img/icons/download-box.svg') no-repeat right center; 
  background-size: 60px;
}

input[type=file] {
  color: transparent;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
}

  .contact .php-email-form button[type=submit]:hover {
    background: var();
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

/*-----------------------------------------------------------------------------------------------------------------------------------------------
  Móveis Planejados
------------------------------------------------------------------------------------------------------------------------------------------------*/
.item {
  width: 200px;
  height: 300px;
  list-style-type: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 20px 30px rgba(255, 255, 255, 0.3) inset;
  transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;

  &:nth-child(1),
  &:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    box-shadow: none;
    opacity: 1;
  }

  &:nth-child(3) {
    left: 50%;
  }
  &:nth-child(4) {
    left: calc(50% + 220px);
  }
  &:nth-child(5) {
    left: calc(50% + 440px);
  }
  &:nth-child(6) {
    left: calc(50% + 660px);
    opacity: 0;
  }
}

.content {
  width: min(30vw, 400px);
  position: absolute;
  top: 50%;
  left: 3rem;
  transform: translateY(-50%);
  font: 400 0.85rem helvetica, sans-serif;
  color: white;
  text-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
  border: 2px solid white;
  padding: 0.75rem;

  & .title {
    font-family: "arial-black";
    text-transform: uppercase;
  }

  & .description {
    line-height: 1.7;
    margin: 1rem 0 1.5rem;
    font-size: 0.8rem;
  }

  & button {
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
  }

  & button:hover{
    background-color: var(--primary-color);
    transition: all 0.2s;
  }
}

.item:nth-of-type(2) .content {
  display: block;
  animation: show 0.75s ease-in-out 0.3s forwards;
}

@keyframes show {
  0% {
    filter: blur(5px);
    transform: translateY(calc(-50% + 75px));
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.nav-button {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  user-select: none;

  & .btn {
    background-color: rgba(255, 255, 255, 0.8);
    color: var(--primary-color);
    font-size: 16px;
    margin: 0 0.25rem;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: #fff;
    }
  }
}

@media (width > 650px) and (width < 900px) {
  .content {
    & .title {
      font-size: 1rem;
    }
    & .description {
      font-size: 0.7rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 160px;
    height: 270px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 170px);
    }
    &:nth-child(5) {
      left: calc(50% + 340px);
    }
    &:nth-child(6) {
      left: calc(50% + 510px);
      opacity: 0;
    }
  }
}

@media (width < 650px) {
  .content {
    & .title {
      font-size: 0.9rem;
    }
    & .description {
      font-size: 0.65rem;
    }
    & button {
      font-size: 0.7rem;
    }
  }
  .item {
    width: 130px;
    height: 220px;

    &:nth-child(3) {
      left: 50%;
    }
    &:nth-child(4) {
      left: calc(50% + 140px);
    }
    &:nth-child(5) {
      left: calc(50% + 280px);
    }
    &:nth-child(6) {
      left: calc(50% + 420px);
      opacity: 0;
    }
  }
}

.card-more-info{
  width: 620px;
  height: 310px;
}

.card-more{
  display: flex;
  margin-left: 27%;
}

.card-more{
  width: 620px;
  height: 310px;
  padding-bottom: 380px;
}

.card-more-info{
  box-shadow:2px 2px 20px rgba(0,0,0,0.3); 
  border:none; 
  margin-bottom:30px;
}
.card-more-info{
  transform: scale(1.05);
  transition: all 1s ease;
  z-index: 999;
  cursor: pointer;
}

.more-info{
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    border: 2px solid white;
    border-radius: 0.25rem;
    padding: 0.75rem;
    cursor: pointer;
}

.more-info:hover{
  background-color: var(--primary-color);
  transition: all 0.2s;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------
  Iluminações - Vendas
------------------------------------------------------------------------------------------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #847872;
  background: #f8f8f8;
}

.pricing h4 {
  font-size: 36px;
  color: var(--primary-color);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing h5{
  color: var(--secundary-color);
  font-weight: 700;
  margin-top: 40px;
}

.pricing h6{
  font-weight: 300;
}

.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #4d4643;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing ul li {
  padding-bottom: 16px;
}

.pricing ul i {
  color: var(--primary-color);
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: var(--primary-color);
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: var(--secundary-color);
}

.pricing .featured h3 {
  color: #fff;
  background: var(--primary-color);
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: var(--primary-color);
  color: #fff;
}




/*-----------------------------------------------------------------------------------------------------------------------------------------------
    Footer
------------------------------------------------------------------------------------------------------------------------------------------------*/
#depositions{
    position: relative;
    z-index: 1;
}

#features{
    position: relative;
    z-index: 1 ;
}

#footer #card-footer{
    position: relative;
    z-index: 2;
}

#footer .card-footer{
    background: var(--secundary-color);
    margin-left: 14%;
    margin-right: 14%;
    height: 120px;
    margin-top: -55px;
    border-radius: 4px;
    box-shadow: 2px 4px 10px 2px rgba(0,0,0,0.6);
}

.card-footer {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    height: 100vh; /* 100% da altura da viewport, ajuste conforme necessário */
}

.card-footer-phrase h6{
    font-size: 30px;
    font-weight: bold;
    text-align: center; /* Centralizar o texto horizontalmente */
}

#footer{
    color: var(--secundary-color);
    font-size: 14px;
    background: var(--background);
}

#footer .footer-top{
    padding: 60px 0 30px 0;
    background-color: var(--background);
}

#footer .footer-top .footer-contact{
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3{
    font-size: 16px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--secundary-color);
}

#footer .footer-top h4{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    padding-bottom: 12px;
    position: relative;
}

#footer .footer-top .footer-contact p{
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 24px;
    color: var(--secundary-color);
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: var(--primary-color);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: var(--secundary-color);
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}


hr{
    display: block;
    margin-top: 0.5em;
    margin-left: 14%;
    margin-right: 14%;
    border-style: #8C9EAB;
    border-width: 2px;
    color: var(--primary-color);
}

#footer .social-links a{
    font-size: 18px;
    display: inline-block;
    background: var(--primary-color);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: var(--secundary-color);
    color: #fff;
    text-decoration: none;
}

#footer .social-links p{
    padding-right: 10px;
    margin-bottom: 3px;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--secundary-color);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: var(--second-color);
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}



